<!DOCTYPE html>
<!--[if gt IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js ie ie7 lte-ie8 lte-ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js ie ie8 lte-ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="no-js ie ie9"> <![endif]-->
<!--[if !(IE)]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
 <head> 
  <meta charset="utf-8"> 
  <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="description" content="Qumram - the software for cross-channel intelligence and compliance"> 
  <title>Home - Qumram</title> 
  <link rel="stylesheet" href="/content/plugins/sitepress-multilingual-cms/res/css/language-selector.css?v=3.1.5" type="text/css" media="all"> 
  <script>document.documentElement.className = document.documentElement.className.replace(/(^|\s)no-js(\s|$)/, '$1js$2');</script> 
  <meta property="og:site_name" content="Qumram"> 
  <meta property="og:title" content="Home - Qumram"> 
  <meta property="og:url" content="http://www.qumram.com/"> 
  <meta property="og:description" content=""> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"> 
  <link rel="shortcut icon" href="/content/themes/qumram/build/assets/favicons/favicon.ico"> 
  <link rel="apple-touch-icon-precomposed" href="/content/themes/qumram/build/assets/favicons/favicon-152.png"> 
  <meta name="msapplication-TileColor" content="#FFFFFF"> 
  <meta name="msapplication-TileImage" content="/content/themes/qumram/build/assets/favicons/favicon-144.png"> 
  <link rel="apple-touch-icon-precomposed" href="path/to/favicon-152.png"> 
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/content/themes/qumram/build/assets/favicons/favicon-152.png"> 
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/content/themes/qumram/build/assets/favicons/favicon-144.png"> 
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/content/themes/qumram/build/assets/favicons/favicon-120.png"> 
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/content/themes/qumram/build/assets/favicons/favicon-114.png"> 
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/content/themes/qumram/build/assets/favicons/favicon-72.png"> 
  <link rel="apple-touch-icon-precomposed" href="/path/to/favicon-57.png"> 
  <link rel="icon" href="/content/themes/qumram/build/assets/favicons/favicon-32.png" sizes="32x32"> 
  <script>
	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	 ga('create', 'UA-51121569-1', 'qumram.com');
	 ga('send', 'pageview');

	</script> 
  <link rel="alternate" type="application/rss+xml" title="Qumram » SAPERION setzt auf Web-Archivierung mit Qumram Comments Feed" href="http://www.qumram.com/news/saperion-setzt-auf-web-archivierung-mit-qumram/feed"> 
  <link rel="stylesheet" id="main-css" href="/content/themes/qumram/build/assets/css/main.css?ver=0.5" type="text/css" media="screen"> 
  <script type="text/javascript" src="/content/themes/qumram/build/assets/js/head.js?ver=0.5"></script> 
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.qumram.com/wp/xmlrpc.php?rsd"> 
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.qumram.com/wp/wp-includes/wlwmanifest.xml"> 
  <link rel="next" title="Marktübersicht bestätigt Einzigartigkeit von Qumram" href="http://www.qumram.com/article/marktubersicht-bestatigt-einzigartigkeit-von-qumram"> 
  <meta name="generator" content="WordPress 3.9.3"> 
  <link rel="shortlink" href="http://www.qumram.com/"> 
  <meta name="generator" content="WPML ver:3.1.5 stt:1,3;0"> 
  <link rel="alternate" hreflang="en-US" href="http://www.qumram.com/"> 
  <link rel="alternate" hreflang="de-DE" href="http://www.qumram.com/de/"> 
  <style type="text/css">																						
</style> 
 </head> 
 <body class="type-page page-home lang-en pageid-2"> 
  <header role="banner" class="layout-header" data-init="header"> 
   <div class="layout-wrapper"> 
    <div class="layout-inner"> 
     <a href="http://www.qumram.com" class="mod-logo"> <img class="no-ie" src="/content/themes/qumram/build/assets/../modules/logo/logo.svg" alt="qumram logo"> <img class="only-ie" src="/content/themes/qumram/build/assets/../modules/logo/logo.png" alt="qumram logo"> </a> 
     <nav role="navigation" class="mod-nav-main" data-init="nav-main"> 
      <a href="#menu" class="toggle" data-nav-main="toggle"> <span class="mod-menu-icon"><span></span></span> Navigation </a> 
      <ul> 
       <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-33 "> <a href="/why-qumram">Why Qumram?</a> </li> 
       <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-36 "> <a href="/products">Products</a> </li> 
       <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-39 "> <a href="/success-stories">Success Stories</a> </li> 
       <li class="var-meta menu-item menu-item-type-post_type menu-item-object-page menu-item-42 "> <a href="/about-us">About us</a> </li> 
       <li class="var-meta menu-item menu-item-type-post_type menu-item-object-page menu-item-579 "> <a href="/blog">Blog</a> </li> 
       <li class="var-meta menu-item menu-item-type-custom menu-item-object-custom menu-item-2113 "> <a href="/blog?sort=Jobs">Jobs</a> </li> 
       <li class="var-meta menu-item menu-item-type-post_type menu-item-object-page menu-item-686 "> <a href="/contact">Contact</a> </li> 
      </ul> 
     </nav> 
     <nav role="navigation" class="mod-nav-meta" data-init="nav-meta"> 
      <ul> 
       <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-1212 "> <a href="/why-qumram">Why Qumram?</a> </li> 
       <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-1213 "> <a href="/products">Products</a> </li> 
       <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-1214 "> <a href="/success-stories">Success Stories</a> </li> 
       <li class="collapse gray menu-item menu-item-type-custom menu-item-object-custom menu-item-1215 menu-item-has-children "> <a>Company</a> 
        <ul> 
         <li class="gray menu-item menu-item-type-post_type menu-item-object-page menu-item-52 "> <a href="/contact">Contact</a> </li> 
         <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-1221 "> <a href="/blog">Blog</a> </li> 
         <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-1892 "> <a href="/blog?sort=Jobs">Jobs</a> </li> 
         <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-1219 "> <a href="/about-us">About us</a> </li> 
        </ul> </li> 
       <li class="gray language"> <a href="http://www.qumram.com/de/">de</a> </li> 
      </ul> 
     </nav> 
     <nav role="navigation" class="mod-nav-main-meta"> 
      <ul> 
       <li> <a href="http://www.qumram.com">Home</a> </li> 
       <li> <a href="http://www.qumram.com/de/">Deutsch</a> </li> 
      </ul> 
     </nav> 
    </div> 
   </div> 
  </header> 
  <div class="layout-outer layout-wrapper"> 
   <main class="layout-main" role="main"> 
    <div class="mod-keyvisual"> 
     <div class="keyvisual-slider"> 
      <div class="key-slider" data-init="keyvisual"> 
       <ul class="slides"> 
        <li data-gallery="item" style="background-image: url(/content/uploads/2014/09/keyvisual_header_home_ubs.jpg); background-position: center center;"> 
         <div class="layout-inner content"> 
          <div class="title var-big"> 
           <div class="layout-inner"> 
            <div class="slidercontent"> 
             <img class="no-ie" src="/content/uploads/2014/09/logo_ubs_neg_color-01.svg"> 
             <img class="only-ie" src="/content/uploads/2014/09/logo_ubs_neg_color1.png"> 
             <h1> UBS leverages Qumram for online-channel optimization </h1> 
             <a class="button yellow " href="http://www.qumram.com/success-stories/ubs">view success story</a> 
            </div> 
           </div> 
          </div> 
         </div> </li> 
        <li data-gallery="item" style="background-image: url(/content/uploads/2014/09/keyvisual_header_home_eda.jpg); background-position: center center;"> 
         <div class="layout-inner content"> 
          <div class="title var-big"> 
           <div class="layout-inner"> 
            <div class="slidercontent"> 
             <img class="no-ie" src="/content/uploads/2014/09/logo_eda_neg_color-01.svg"> 
             <img class="only-ie" src="/content/uploads/2014/09/logo_eda_neg_color1.png"> 
             <h1> Qumram helps Swiss Federal Department sustain its web and social media activities. </h1> 
             <a class="button yellow " href="http://www.qumram.com/success-stories/fdfa">view success story</a> 
            </div> 
           </div> 
          </div> 
         </div> </li> 
        <li data-gallery="item" style="background-image: url(/content/uploads/2014/09/keyvisual_header_home_segetis.jpg); background-position: center center;"> 
         <div class="layout-inner content"> 
          <div class="title var-big"> 
           <div class="layout-inner"> 
            <div class="slidercontent"> 
             <img class="no-ie" src="/content/uploads/2014/09/logo_segetis_neg_color-01.svg"> 
             <img class="only-ie" src="/content/uploads/2014/09/logo_segetis_neg_color1.png"> 
             <h1> Publically traded Swiss companies use Qumram to empower their shareholders. </h1> 
             <a class="button yellow " href="http://www.qumram.com/success-stories/segetis">view success story</a> 
            </div> 
           </div> 
          </div> 
         </div> </li> 
        <li data-gallery="item" style="background-image: url(/content/uploads/2014/09/keyvisual_header_home_gartner.jpg); background-position: center center;"> 
         <div class="layout-inner content"> 
          <div class="title var-big"> 
           <div class="layout-inner"> 
            <div class="slidercontent"> 
             <img class="no-ie" src="/content/uploads/2014/09/logo_gartner_neg_color1.svg"> 
             <img class="only-ie" src="/content/uploads/2014/09/logo_gartner_neg_color1.png"> 
             <h1> Gartner lists Qumram as vendor for Social Media Records Management. </h1> 
             <a class="button yellow " href="http://www.qumram.com/news/gartner-lists-qumram-in-social-media-records-managemet">view article</a> 
            </div> 
           </div> 
          </div> 
         </div> </li> 
        <li data-gallery="item" style="background-image: url(/content/uploads/2014/09/keyvisual_header_home_video.jpg); background-position: center center;"> 
         <div class="layout-inner content"> 
          <div class="title var-big"> 
           <div class="layout-inner"> 
            <div class="slidercontent" data-init="video"> 
             <h1> Learn how Qumram empowers your digital business. </h1> 
             <a class="button yellow show-video" href="">view video</a> 
            </div> 
           </div> 
          </div> 
         </div> </li> 
        <li data-gallery="item" style="background-image: url(/content/uploads/2014/09/keyvisuals_header_home_projectconsult.jpg); background-position: center center;"> 
         <div class="layout-inner content"> 
          <div class="title var-big"> 
           <div class="layout-inner"> 
            <div class="slidercontent"> 
             <img class="no-ie" src="/content/uploads/2014/05/logo_projectconsult_white.svg"> 
             <img class="only-ie" src="/content/uploads/2014/04/logo_projectconsult_white.png"> 
             <h1> "Only Qumram allows that an organisation’s web-based information can be managed in a compliant way." </h1> 
             <a class="button yellow " href="http://www.qumram.com/success-stories/project-consult">view success story </a> 
            </div> 
           </div> 
          </div> 
         </div> </li> 
       </ul> 
      </div> 
      <div class="lightbox-wrapper"> 
       <button class="close"></button> 
       <div class="teaser-video"> 
        <iframe width="560" height="315" src="" data-src="https://www.youtube.com/embed/VH_V2NlBIK4?html5=1?rel=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe> 
       </div> 
       <div class="lightbox"></div> 
      </div> 
     </div> 
    </div> 
    <script type="text/template" data-nav-content="template">
	<div class="mod-nav-content">
		<div class="layout-inner">
			<ul>
				
					<% _.each(sections, function(section) { %>
						<li>
							<a href="#<%= section.id %>" data-nav-content="item"><%= section.title %></a>
						</li>
					<% }); %>
				
			</ul>
		</div>
	</div>
</script> 
    <div class="layout-teasers" data-init="nav-content"> 
     <div class="mod-teasers teaser-type-this_is_qumram var-white var-no-padding "> 
      <div class="teasers-content"> 
       <div class="mod-teaser var-this-is-qumram var-inverted"> 
        <div class="layout-inner"> 
         <div class="teaser-content"> 
          <div class="teaser-top"> 
           <div class="title">
            <span>Qumram - The Big Data platform</span>
            <br>for compliant cross-channel recording, e-discovery and user experience intelligence to empower your digital business.
           </div> 
           <img src="/content/uploads/2014/05/qumram_intro_infografik_02-03.png">
           <img> 
          </div> 
          <div class="teaser-text"> 
           <p>Qumram seamlessly records and plays back all online information and communication in all relevant channels – Web, Social and Mobile. Furthermore Qumram replays real user interactions and transactions at any given point in time.</p> 
           <p>This enables you to create a single source of truth for all your online channels. Build a trusted environment for governance and risk management. Create a foundation for true end-to-end online processes and predictive big data analytics.</p> 
           <p>Our superior technology empowers efficient and accountable digital business all around the globe.</p> 
          </div> 
          <div class="teaser-nouns"> 
           <ul> 
            <li> Become trusted and compliant. </li> 
            <li> Ensure efficient business processes. </li> 
            <li> Unleash the power of modern technologies. </li> 
           </ul> 
          </div> 
          <div class="teaser-action"> 
           <a href="http://www.qumram.com/why-qumram" class="button var-white">Why Qumram</a> 
           <a href="http://www.qumram.com/products" class="button var-white blue">Our Products</a> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="mod-teasers teaser-type-integrations var-gray "> 
      <div class="layout-inner"> 
       <h2 class="teasers-title">Explore our Integrations</h2> 
       <div class="teasers-content"> 
        <div class="mod-teaser var-integrations"> 
         <div class="layout-inner"> 
          <div class="integrations-slider" data-init="integrations"> 
           <ul class="slides"> 
            <li> 
             <div class="img-wrapper-container"> 
              <a class="img-wrapper" href="http://www.qumram.com/success-stories/sbb"> <img class="logo no-ie" src="/content/uploads/2014/09/logo_adobe_color.svg"> <img class="logo only-ie" src="/content/uploads/2014/09/logo_adobe_color-01.png"> </a> 
             </div> </li> 
            <li> 
             <div class="img-wrapper-container"> 
              <a class="img-wrapper" href="http://www.qumram.com/success-stories/ubs"> <img class="logo no-ie" src="/content/uploads/2014/09/logo_opentext_color-01.svg"> <img class="logo only-ie" src="/content/uploads/2014/09/logo_opentext_color-01.png"> </a> 
             </div> </li> 
            <li> 
             <div class="img-wrapper-container"> 
              <a class="img-wrapper" href="http://www.qumram.com/success-stories/suva"> <img class="logo no-ie" src="/content/uploads/2014/09/logo_ibm_color-011.svg"> <img class="logo only-ie" src="/content/uploads/2014/09/logo_ibm_color-011.png"> </a> 
             </div> </li> 
            <li> 
             <div class="img-wrapper-container"> 
              <a class="img-wrapper" href="http://www.qumram.com/success-stories/project-consult"> <img class="logo no-ie" src="/content/uploads/2014/09/logo_microsoft_color-01.svg"> <img class="logo only-ie" src="/content/uploads/2014/09/logo_microsoft_color-01.png"> </a> 
             </div> </li> 
            <li> 
             <div class="img-wrapper-container"> 
              <a class="img-wrapper" href="http://www.qumram.com/news/saperion-setzt-auf-web-archivierung-mit-qumram"> <img class="logo no-ie" src="/content/uploads/2014/09/logo_perceptivesoftware_color-01.svg"> <img class="logo only-ie" src="/content/uploads/2014/09/logo_perceptivesoftware_color-01.png"> </a> 
             </div> </li> 
            <li> 
             <div class="img-wrapper-container"> 
              <a class="img-wrapper" href="http://www.qumram.com/success-stories/fdfa"> <img class="logo no-ie" src="/content/uploads/2014/09/logo_wordpress_color-01.svg"> <img class="logo only-ie" src="/content/uploads/2014/09/logo_wordpress_color-01.png"> </a> 
             </div> </li> 
            <li> 
             <div class="img-wrapper-container"> 
              <a class="img-wrapper" href="http://www.qumram.com/success-stories/segetis"> <img class="logo no-ie" src="/content/uploads/2014/09/logo_adnovum_color.svg"> <img class="logo only-ie" src="/content/uploads/2014/09/logo_adnovum_color.png"> </a> 
             </div> </li> 
           </ul> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="mod-teasers teaser-type-success_stories var-white var-no-padding "> 
      <div class="teasers-content"> 
       <div class="mod-teaser var-success-stories" style="background-image:url(/content/uploads/2014/04/teaser-011.jpg);"> 
        <div class="layout-inner"> 
         <ul class="logos"> 
          <li> <img class="no-ie" src="/content/uploads/2014/04/logo_ubs_white.svg" alt="Logo UBS"> <img class="only-ie" src="/content/uploads/2014/04/logo_ubs_white.png" alt="Logo UBS"> </li> 
          <li> <img class="no-ie" src="/content/uploads/2014/04/logo_eda_white.svg" alt="Logo Swiss Federal Department of Foreign Affairs"> <img class="only-ie" src="/content/uploads/2014/04/logo_eda_white.png" alt="Logo Swiss Federal Department of Foreign Affairs"> </li> 
          <li> <img class="no-ie" src="/content/uploads/2014/04/logo_css_white.svg" alt="Logo CSS Group"> <img class="only-ie" src="/content/uploads/2014/04/logo_css_white.png" alt="Logo CSS Group"> </li> 
          <li> <img class="no-ie" src="/content/uploads/2014/04/logo_suva_white.svg" alt="Logo Suva"> <img class="only-ie" src="/content/uploads/2014/04/logo_suva_white.png" alt="Logo Suva"> </li> 
          <li> <img class="no-ie" src="/content/uploads/2014/04/logo_sbb_white.svg" alt="Logo SBB"> <img class="only-ie" src="/content/uploads/2014/04/logo_sbb_white.png" alt="Logo SBB"> </li> 
         </ul> 
         <div class="teaser-content"> 
          <div class="teaser-text"> 
           <p>Learn how our customers capitalize on being digitally accountable</p> 
          </div> 
          <div class="teaser-action"> 
           <a href="http://www.qumram.com/success-stories" class="button">Learn more</a> 
          </div> 
         </div> 
        </div>
       </div> 
      </div> 
     </div> 
     <div class="mod-teasers teaser-type-news var-white not-full"> 
      <div class="layout-inner"> 
       <h2 class="teasers-title">Read our latest news</h2> 
       <div class="more-action"> 
        <a href="http://www.qumram.com/blog" class="link">View all Updates</a> 
       </div> 
       <div class="teasers-content"> 
        <div class="mod-teaser var-news"> 
         <div class="teaser-content"> 
          <div class="posts"> 
           <a href="http://www.qumram.com/events/qumram-an-der-records-management-konferenz-2014" class="mod-post" data-posts="post" data-sort="events"> 
            <div class="image"> 
             <img src="/content/uploads/2014/09/RMFT_ICC_Lukose-640x440-c-default.png"> 
             <span class="label">German</span> 
            </div> 
            <div class="meta"> 
             <span class="date"> September 29, 2014 </span> 
             <ul class="categories"> 
              <li data-posts="category" data-sort="events">Events</li> 
             </ul> 
            </div> <h3 class="title">Qumram an der Records Management Konferenz 2014</h3> <span class="link" role="presentation">Read more</span> </a> 
           <a href="http://www.qumram.com/jobs/junior-software-engineer-c-mf-barcelona-2" class="mod-post" data-posts="post" data-sort="jobs"> 
            <div class="image"> 
             <img src="/content/uploads/2014/05/job-640x440-c-default.jpg"> 
             <span class="label">English</span> 
            </div> 
            <div class="meta"> 
             <span class="date"> September 25, 2014 </span> 
             <ul class="categories"> 
              <li data-posts="category" data-sort="jobs">Jobs</li> 
             </ul> 
            </div> <h3 class="title">Junior Software Engineer C# (m/f) – Barcelona</h3> <span class="link" role="presentation">Read more</span> </a> 
           <a href="http://www.qumram.com/press-releases/qumram-appoints-patrick-barnert-as-ceo-to-drive-expansion" class="mod-post" data-posts="post" data-sort="press-releases"> 
            <div class="image"> 
             <img src="/content/uploads/2014/09/barnert-640x440-c-default.jpg"> 
             <span class="label">English</span> 
            </div> 
            <div class="meta"> 
             <span class="date"> September 24, 2014 </span> 
             <ul class="categories"> 
              <li data-posts="category" data-sort="press-releases">Press Releases</li> 
             </ul> 
            </div> <h3 class="title">Qumram appoints Patrick Barnert as CEO to drive expansion</h3> <span class="link" role="presentation">Read more</span> </a> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="mod-teasers teaser-type-newsletter var-white var-no-padding "> 
      <div class="teasers-content"> 
       <div class="mod-teaser var-newsletter var-inverted"> 
        <div class="layout-inner"> 
         <h3>Let us update you</h3> 
         <form class="form" action="http://qumram.us2.list-manage.com/subscribe/post?u=406ca66e3a80d4df6b9d16bde&amp;id=7a28bc80b2" data-init="newsletter-teaser"> 
          <div class="input-wrapper person-icon"> 
           <input type="text" placeholder="Firstname" name="FNAME" class="input firstname"> 
          </div> 
          <div class="input-wrapper person-icon"> 
           <input type="text" placeholder="Lastname" name="LNAME" class="input lastname"> 
          </div> 
          <div class="input-wrapper email-icon"> 
           <input type="email" id="newsletter_teaser_email" placeholder="Email" name="EMAIL" class="input email"> 
          </div> 
          <input type="submit" class="button submit-button" value="Subscribe me" disabled> 
          <label for="newsletter_teaser_email" class="message"></label> 
         </form> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="mod-teasers teaser-type-background var-gray var-group "> 
      <div class="layout-inner"> 
       <h2 class="teasers-title">Take the next step</h2> 
       <div class="teasers-content"> 
        <div class="mod-teaser var-background align-top " style="background-image:url(/content/uploads/2014/04/white.jpg);"> 
         <div class="teaser-content"> 
          <div class="teaser-text"> 
           <p>Are you up for more ideas and best practices?</p> 
           <p><a title="Qumram in action:Discover our success stories" href="http://www.qumram.com/success-stories">Learn how your industry peers capitalize on Qumram.</a></p> 
          </div> 
         </div> 
        </div> 
        <div class="mod-teaser var-background var-inverted align-top var-grey " style="background-image:url(/content/uploads/2014/04/teaser_nextstep_demo_01.jpg);"> 
         <div class="teaser-content"> 
          <div class="teaser-text"> 
           <p>Do you want to get a personal presentation fit to your requirements? Get in touch with us and we’ll demo it live to you.</p> 
          </div> 
          <div class="teaser-action"> 
           <a href="http://www.qumram.com/contact?contact=0" class="button">Request Demo</a> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </main> 
   <footer role="complementary" class="layout-footer"> 
    <div class="layout-footer-primary"> 
     <div class="layout-inner"> 
      <div class="mod-widget var-main widget_custom_post_widget">
       <h3 class="title">Contact us</h3>
       <p><a class="icon-phone" href="tel://+41443002020">+41&nbsp;44 300 20&nbsp;20</a><br> <a class="icon-mail" title="Contact" href="http://www.qumram.com/contact">Write enquiry</a></p> 
      </div>
      <div class="mod-widget var-main widget_custom_post_widget">
       <h3 class="title">Headquarters</h3>
       <p>Qumram AG<br> Badenerstrasse 587<br> CH-8048 Zurich<br> <a class="icon-location" href="https://goo.gl/maps/1YjR0" target="_blank">Location</a></p> 
      </div>
      <div class="mod-widget var-main widget_custom_post_widget">
       <h3 class="title">Subsidiary</h3>
       <p>Qumram Ibérica SLU<br> Avda Diagonal 123<br> SP-08005 Barcelona<br> <a class="icon-location" href="https://goo.gl/maps/1XNKo" target="_blank">Location</a></p> 
      </div>
      <div class="mod-widget var-main widget_custom_post_widget">
       <h3 class="title">Newsletter</h3>
       <form data-init="newsletter" action="http://qumram.us2.list-manage.com/subscribe/post?u=406ca66e3a80d4df6b9d16bde&amp;amp;id=7a28bc80b2" class="mod-newsletter"> 
        <label for="mc-email" class="is-hidden">E-Mail</label> 
        <input id="mc-email" type="email" placeholder="email" name="email"> 
        <button type="submit">Submit</button> 
       </form> 
      </div> 
     </div> 
    </div> 
    <div class="layout-footer-secondary"> 
     <div class="layout-inner"> 
      <div class="mod-widget var-meta widget_text"> 
       <div class="textwidget">
        © 2014 Qumram AG. All rights reserved.
       </div> 
      </div> 
      <div class="mod-nav-footer-meta"> 
       <ul> 
        <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-51 "> <a href="/disclaimer">Disclaimer</a> </li> 
        <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-50 "> <a href="/imprint">Imprint</a> </li> 
        <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-1652 "> <a href="/contact">Contact</a> </li> 
       </ul> 
      </div> 
      <div class="mod-nav-footer-social"> 
       <ul> 
        <li class="var-linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-55 "> <a target="_blank" href="https://www.linkedin.com/company/qumram-ag">LinkedIn</a> </li> 
        <li class="var-twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-18 "> <a target="_blank" href="http://twitter.com/qumramAG">Twitter</a> </li> 
        <li class="var-google menu-item menu-item-type-custom menu-item-object-custom menu-item-804 "> <a target="_blank" href="https://plus.google.com/+qumramAGZürich">Google+</a> </li> 
        <li class="var-facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-19 "> <a target="_blank" href="https://www.facebook.com/qumram">Facebook</a> </li> 
        <li class="var-youtube menu-item menu-item-type-custom menu-item-object-custom menu-item-1210 "> <a target="_blank" href="https://www.youtube.com/user/QumramTV">Youtube</a> </li> 
        <li class="var-slideshare menu-item menu-item-type-custom menu-item-object-custom menu-item-856 "> <a target="_blank" href="http://www.slideshare.net/qumramAG/">Slideshare</a> </li> 
       </ul> 
      </div> 
     </div> 
    </div> 
   </footer> 
  </div> 
  <script type="text/javascript" src="/content/themes/qumram/build/assets/js/jquery.js?ver=1.10.2"></script> 
  <script type="text/javascript" src="/content/themes/qumram/build/assets/js/main.js?ver=0.5"></script> 
  <script type="text/javascript">
/* <![CDATA[ */
var icl_vars = {"current_language":"en","icl_home":"http:\/\/www.qumram.com\/"};
/* ]]> */
</script> 
  <script type="text/javascript" src="/content/plugins/sitepress-multilingual-cms/res/js/sitepress.js?ver=3.9.3"></script>   
  <!-- Dynamic page generated in 2.021 seconds. --> 
  <!-- Cached page generated by WP-Super-Cache on 2014-12-05 10:47:56 --> 
  <!-- super cache -->
 </body>
</html>